.form {
    margin-top: 40px;
    margin-bottom: 30px;

    .inputs-container {
        input {
            width: 100%;
            padding: 10px;
            font-size: 0.95rem;
            border-radius: 10px;
            outline: none;
            border: 1px solid rgb(200, 200, 200);

            &::placeholder{
                font-size: 0.82rem;
            }
        }

        input[type='submit']{
            background-color: #00a54f;
            color: #ffffff;
        }
    }
}