.logo-container {
    padding: 0 10px;
    height: 50px;

    .logo {
        width: 200px;
        height: 20px;
        object-fit: cover;
    }

    .menu-click-icon {
        font-size: 35px;
        cursor: pointer;
        display: none;
        color: #ffffff;

        @media screen and (max-width: 1150px) {
            display: block;
        }

    }
}

.nav-container {

    @media screen and (max-width: 1150px) {
        height: 100vh;
        position: fixed;
        background-color: #00a54f;
        width: 250px;
        z-index: 1000;
        transition: all 0.4s ease-in-out;
    }


    .divider {
        height: 2px;
        border: none;
        margin: 0;
        background-color: #ffffff;
    }

    .user-container {
        padding: 10px;

        .user-image {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 5px;
        }

        .account-info {
            h6 {
                color: rgb(255, 255, 255);
                margin: 0;
                font-size: .95rem;
            }

            p {
                color: rgb(211, 211, 211);
                font-size: .84rem;
                margin: 0;
            }
        }
    }

    .menu {
        .menu-lists {
            list-style-type: none;
            width: 100%;
            padding-left: 10px;
            color: white;

            .menu-list {
                font-size: 0.86rem;
                cursor: pointer;
                font-weight: 400;
                padding: 5px 0;
                margin: 3px 0;
                width: 100%;
                position: relative;
                // width: fit-content;

                .menu-icon {
                    // margin-right: 20px;
                    font-size: 1.4rem;
                    visibility: hidden;

                    &.active {
                        width: 50px;
                        visibility: unset;
                    }
                }

                span {
                    display: inline-block;
                    width: 45px;
                    // background-color: red;
                    text-align: center;
                }

                .active-icon {
                    position: absolute;
                    top: 50%;
                    right: -7px;
                    transform: translateY(-50%);
                    font-size: 1.2rem;
                    color: white;
                }
            }
        }
    }
}